{% extends '@ProjectSitepGlobal/Template/layout.html.twig' %}

{% block navbar %}

    <div class="leftside-navigation">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="active" href="{{ path('dasfa') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>



            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-th"></i>
                    <span>Prises en charges</span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('pc_index') }}">Liste P.C</a></li>
                    <li><a href="{{ path('pc_new') }}">Ajouter P.C</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-envelope"></i>
                    <span>Bulletins de soin </span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('bs_index') }}">Liste BS</a></li>
                    <li><a href="{{ path('bs_new') }}">Ajouter BS</a></li>
                </ul>
            </li>





            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-user"></i>
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>

{% endblock navbar %}


{% block content %}
<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails sur le bulletin de soin numéro {{ bulletinSoin.numBulletin }}
            </div>

            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bulletinSoin.id }}</td>
            </tr>
            <tr>
                <th>N° bord</th>
                <td>{{ bulletinSoin.numbord }}</td>
            </tr>
            <tr>
                <th>Type bord</th>
                <td>{{ bulletinSoin.typebord }}</td>
            </tr>
            <tr>
                <th>Date bord</th>
                <td>{% if bulletinSoin.datebord %}{{ bulletinSoin.datebord|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu de travail</th>
                <td>{{ bulletinSoin.lieutravail }}</td>
            </tr>
            <tr>
                <th>N° bulletin</th>
                <td>{{ bulletinSoin.numbulletin }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ bulletinSoin.observation }}</td>
            </tr>
        </tbody>
    </table>
            </div>
            <footer class="panel-footer">

            </footer>
        </div>
    </div>
</section>




{% endblock %}